<div class="header">
  <h1>Sarah's Hair Salon</h1>
  <h3>Welcome to Sarah's Hair Salon</h3>
  <div class="menu">
    <a href="/">Home</a>
    <a href="hair">Hair</a>
    <a href="nails">Nails</a>
    <a href="pricing">Pricing</a>
    <a href="sched">Scheduling</a>
  </div>
</div>
