<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <%include partials/hairmenu %>
    <p>Put a variety of hair pictures </p>

    <div class="responsive">
      <div class="hairgallery">
          <a target="_blank" href="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.southernliving.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fresponsive_etr_gallery_desktop_square%2Fpublic%2Fimage%2F2018%2F02%2Fmain%2F23_0_0.jpg%3Fitok%3DBpWYvrGc&q=85">
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.southernliving.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fresponsive_etr_gallery_desktop_square%2Fpublic%2Fimage%2F2018%2F02%2Fmain%2F23_0_0.jpg%3Fitok%3DBpWYvrGc&q=85" alt="Short Brown" width="200" height="300">
          </a>
      </div>
    </div>

    <div class="responsive">
      <div class="hairgallery">
        <a target="_blank" href="https://content.latest-hairstyles.com/wp-content/uploads/tousled-angle-bob-thin-hair.jpg">
          <img src="https://content.latest-hairstyles.com/wp-content/uploads/tousled-angle-bob-thin-hair.jpg" alt="Short Blonde" width="200" height="300">
        </a>
      </div>
    </div>

    <div class="responsive">
      <div class="hairgallery">
        <a target="_blank" href="https://img1.southernliving.timeinc.net/sites/default/files/styles/responsive_etr_gallery_desktop_portrait/public/image/2018/03/main/ash_blonde_with_allover_layers.jpg?itok=YR4WKcph">
          <img src="https://img1.southernliving.timeinc.net/sites/default/files/styles/responsive_etr_gallery_desktop_portrait/public/image/2018/03/main/ash_blonde_with_allover_layers.jpg?itok=YR4WKcph" alt="Long Blonde" width="200" height="300">
        </a>
      </div>
    </div>

    <div class="responsive">
      <div class="hairgallery">
        <a target="_blank" href="https://content2.latest-hairstyles.com/wp-content/uploads/warm-balayage-waves-trends-thick.jpg">
          <img src="https://content2.latest-hairstyles.com/wp-content/uploads/warm-balayage-waves-trends-thick.jpg" alt="Long Brown" width="200" height="300">
        </a>
      </div>
    </div>
  </body>
</html>
